.idea
server.inc.php
statics/pushNotification/
statics/companyLogo/*.*
templates/template_fa/statics/*.*
templates/template_en/statics/*.*

templates/template_en/statics/
templates/template_fa/statics/
rasParameter.log

statics/userfiles/*
statics/images/article/*
statics/images/category_banner/*
statics/images/company/*
statics/images/event/*
statics/images/category/*
statics/images/category1/*
statics/images/banner/*

templates/images/category/*
templates/images/company/*
templates/images/event/*

robot.txt
*.xml
node_modules
.lh
sitemap.xml
.gitlab-ci.yml
admin/COMPANY_ADDRESS_ROOT/product/*